/*
======
Center
======

https://absolutely.every-layout.dev/layouts/center/#the-generator
*/

.center {
  max-width: var(--measure);
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s0);
  padding-right: var(--s0);
}


/* This extends the Vendor-Component from "EveryLayout" */
.center--wrapper { --measure: var(--wrapper); }
.center--narrow  { --measure: var(--narrow);  }
